/* Stylesheet */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {  
  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 

  background-size: cover;
}

/* Apply Font */
main {
  display: flex;
  align-content: center;
  margin-top: 10%;
  margin-bottom: 05;
  font-family: 'Nunito';
  font-size: 5vmin;
  text-align: center;
max-width: 60%;
max-height: 60%;
min-width: 60%;
min-height: 60%;

  /* Add contrast to text */
  background-color: rgba(255, 255, 255, 0.25);
}


nav{display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  max-height:40%;

}

img {
  max-width: 40%;
  max-height:50%;
}

.prev{
  max-width: 20%;
  max-height:20%;
}

.next{
  max-width: 20%;
  max-height:20%;

}
